---
title: Welcome to Middleman
---

<div class="pure-menu pure-menu-horizontal">
    <a href="#" class="pure-menu-heading pure-menu-link">BRAND</a>
    <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#about" class="pure-menu-link">About</a></li>
        <li class="pure-menu-item"><a href="#calendar" class="pure-menu-link">Calendar</a></li>
        <li class="pure-menu-item"><a href="#contact" class="pure-menu-link">Contact</a></li>
    </ul>
</div>

<div id="about">
	<h2>About Us</h2>
	<p>We are cool people who do cool stuff! SOmebody should write some actual content for this!</p>
</div>

<div id="calendar">
	<h2>Calendar</h2>
	<p>I don't actually know how we're doing the calendar but this is where it goes</p>
</div>

<div id="contact">
	<h2>Contact</h2>
	<a href="https://twitter.com/buckhacks">Twitter</a>
</div>